footer.footer#footer
    .footer-top
        .site-width
            .row
                .col
                    ul.footer-top-menu
                        li
                            a(href="#")
                                | О проекте
                        li
                            a(href="#")
                                | Авторы и рецензенты
                        li
                            a(href="#")
                                | Врачам и клиникам
                        li.footer-top-menu-rek
                            a(href="#")
                                | Реклама
                        li
                            a(href="#")
                                | Контакты
                        li
                            a(href="#")
                                | Карта сайта
    .footer-bottom
        .site-width
            .row
                .col.footer-bottom-col-1
                    ul.footer-bottom-menu.phone-show
                        li
                            a(href="#")
                                | Сообщить об ошибке
                        li
                            a(href="#")
                                | Политика конфиденциальности
                        li
                            a(href="#")
                                | Условия использования
                        li
                            a(href="#")
                                | Бесплатная подписка
                    .footer-bottom-text.phone-hide
                        p
                            | Копирование или иное распространение статей нашего сайта строго воспрещается. Копирование раздела "Новости" допускается при наличии активной открытой для поисковиков ссылки на MedicInform.Net
                        p
                            | Материалы на сайте представлены в справочных целях. Редакция не всегда разделяет мнение авторов опубликованных материалов. Перед применением тех или иных рекомендаций настоятельно рекомендуется посоветоваться с Вашим лечащим врачом!
                .col.footer-bottom-col-2.phone-hide
                    ul.footer-bottom-menu
                        li
                            a(href="#")
                                | Сообщить об ошибке
                        li
                            a(href="#")
                                | Политика конфиденциальности
                        li
                            a(href="#")
                                | Условия использования
                        li
                            a(href="#")
                                | Бесплатная подписка
                .col.footer-bottom-col-3
                    .footer-bottom-soc-statistic
                        .footer-bottom-soc
                            .footer-bottom-soc-title
                                | Мы в социальных сетях:
                            .footer-bottom-soc-list
                                a(href="#")
                                    +img('icon/telegram.png')
                                a(href="#")
                                    +img('icon/vk.png')
                                a(href="#")
                                    +img('icon/fb.png')
                                a(href="#")
                                    +img('icon/ok.png')
                                a(href="#")
                                    +img('icon/tw.png')
                                a(href="#")
                                    +img('icon/feed.png')
                        .footer-bottom-statistic
                            <script type="text/javascript">document.write("<a href='//www.liveinternet.ru/click' "+"target=_blank><img src='//counter.yadro.ru/hit?t38.11;r"+escape(document.referrer)+((typeof(screen)== "undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";h"+escape(document.title.substring(0, 150))+";"+Math.random()+"' alt='' title='LiveInternet' "+"border='0' width='31' height='31'><\/a>")</script>
                    .footer-bottom-copyright
                        | Copyright © MedicInform.Net - медицина, психология, 1999 - 2019
    .footer-bottom-text.phone-show.footer-bottom-text-mobile
        p
            | Копирование или иное распространение статей нашего сайта строго воспрещается. Копирование раздела "Новости" допускается при наличии активной открытой для поисковиков ссылки на MedicInform.Net
        p
            | Материалы на сайте представлены в справочных целях. Редакция не всегда разделяет мнение авторов опубликованных материалов. Перед применением тех или иных рекомендаций настоятельно рекомендуется посоветоваться с Вашим лечащим врачом!
.back_to_top
.cookie-window
    .site-width
        .row
            .col
                .cookie-window-content
                    p
                        | Этот веб-сайт использует файлы cookie, которые необходимы для Вашего удобства при пользовании сайтом и для статистических данных о посещаемости сайта. Нажав «Принимаю», вы соглашаетесь на использование файлов cookie.
                    span.cookie-window-content-btn
                        | Принимаю
<script>(function(){'use strict';var fields=document.querySelectorAll('ul.header-bottom-menu-ul li p');for(var i=0;i<fields.length;i++){fields[i].addEventListener('click',function(e){if(e.target.nextElementSibling.classList.contains('sub-menu-active')){}else{for(var item of document.querySelectorAll('ul.header-bottom-menu-ul li p')){item.classList.remove('sub-menu-active-parent')}for(var item2 of document.querySelectorAll('.submenu-big')){item2.classList.remove('sub-menu-active')}for(var item3 of document.querySelectorAll('.submenu-small')){item3.classList.remove('sub-menu-active')}}e.target.classList.toggle("sub-menu-active-parent");goUp();e.target.nextElementSibling.classList.toggle("sub-menu-active")})}var ua=navigator.userAgent,event=(ua.match(/iPad/i))?"touchstart":"click";document.addEventListener(event,function(e){alert('это просто клик в любом месте страницы444');if(e.target.classList.contains('sub-menu-active-parent')){alert('это клик на область открытого меню')}else{alert('это клик вне области');var fields2=document.querySelectorAll('.submenu-big');for(var i=0;i<fields2.length;i++){fields2[i].classList.remove("sub-menu-active")}var fields3=document.querySelectorAll('.sub-menu-active-parent');for(var i=0;i<fields3.length;i++){fields3[i].classList.remove("sub-menu-active-parent")}}});function trackScroll(){var scrolled=window.pageYOffset;var coords=document.documentElement.clientHeight;if(scrolled>coords){goTopBtn.classList.add('back_to_top-show')}if(scrolled<coords){goTopBtn.classList.remove('back_to_top-show')}}function backToTop(){if(window.pageYOffset>0){window.scrollBy(0,-150);setTimeout(backToTop,80)}}var goTopBtn=document.querySelector('.back_to_top');window.addEventListener('scroll',trackScroll);goTopBtn.addEventListener('click',backToTop);function cookieAddClass(){var cookiewrap=document.querySelector('.cookie-window');cookiewrap.classList.remove('cookie-window-show');setCookie("cookiehide",'true',365)};document.querySelector('.cookie-window-content-btn').addEventListener('click',cookieAddClass)})();function setCookie(cname,cvalue,exdays){var d=new Date();d.setTime(d.getTime()+(exdays*24*60*60*1000));var expires="expires="+d.toUTCString();document.cookie=cname+"="+cvalue+"; "+expires}function getCookie(cname){var name=cname+"=";var ca=document.cookie.split(';');for(var i=0;i<ca.length;i++){var c=ca[i];while(c.charAt(0)==' ')c=c.substring(1);if(c.indexOf(name)==0)return c.substring(name.length,c.length)}return""}if(getCookie("cookiehide")!='true'){document.querySelector('.cookie-window').classList.add('cookie-window-show')}function toggleMenuClass(){document.querySelector(".header-top-mobile-content-gamburger-menu").classList.toggle("header-top-mobile-content-gamburger-menu-active")};document.querySelector('.header-top-mobile-content-gamburger-icon').addEventListener('click',toggleMenuClass);var timeOut;function goUp(){var top=Math.max(document.body.scrollTop,document.documentElement.scrollTop);if(top>0){window.scrollBy(0,-100);timeOut=setTimeout('goUp()',20)}else clearTimeout(timeOut)}const screenWidth=window.screen.width;const windowOuterWidth=window.outerWidth;const screenHeight=window.screen.height;const windowInnerWidth=window.innerWidth;document.onclick=function(e){var d=document.querySelector('.header-top-mobile-content-gamburger-icon');var e=document.querySelector('.header-top-mobile-content-gamburger-menu');if(!e.contains(event.target)&&!d.contains(event.target)){document.querySelector(".header-top-mobile-content-gamburger-menu").classList.remove("header-top-mobile-content-gamburger-menu-active")}};</script>